html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Blinker", serif;
  color: #333333;
  position: relative;
}
img {
  max-width: 100%;
  height: auto;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  margin: 0px;
  padding: 0px;
}
