$color__blue: #273c75;
$color__blueDark: #192a56;
$color__yellow: #fbc531;
$color__yellowDark: #e1b12c;
$color__white: #FFFFFF;
$color__whiteMid: #f5f6fa;
$color__whiteGrey: #dcdde1;
$color__lilac: #8c7ae6;
$color__black: #000000;
