.large-hero {
  position: relative;
  border-bottom: 10px solid $color__blue;
  &__text-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
    padding-top: 80px;
    @mixin atSmall {
      padding-top: 30px;
    }

  }
  &__title {
    font-weight: 300;
    color: $color__yellowDark;
    font-size: 4.4rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    margin: 0px;
    margin-bottom: 0.5rem;
    letter-spacing: 2px;
    @mixin atSmall {
      font-size: 5rem;
    }
    @mixin atMedium {
      font-size: 5.8rem;
    }
    @mixin atLarge {
      font-size: 7rem;
    }
  }
  &__subtitle {
    font-weight: 200;
    color: $color__blue;
    font-size: 2.8rem;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    margin: 0px;
    margin-bottom: 1.5rem;
    @mixin atSmall {
      font-size: 2.9rem;
    }
    @mixin atMedium {
      font-size: 3.2rem;
    }
    @mixin atLarge {
      font-size: 4rem;
    }
  }
  &__description {
    font-weight: 300;
    color: $color__whiteMid;
    font-size: 2.2rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    margin: 0px auto 1rem;
    max-width: 400px;

    @mixin atSmall {
      font-size: 2.4rem;
      max-width: 480px;
    }
    @mixin atMedium {
      font-size: 2.6rem;
      max-width: 500px;
    }
    @mixin atLarge {
      font-size: 2.8rem;
      max-width: 600px;
    }
  }
  &__image {
    display: block;
  }
}
