.social-icons {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  &__icon {
    background-color: $color__yellowDark;
    width: 72px;
    height: 72px;
    margin: 0px 5px 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      display: block;
    }
  }
}
